In [1]:
import pandas as pd
import numpy as np
import requests
import tweepy
import json

In [2]:
# Download the image_predictions.tsv from the host
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

# Create our file and save it 
with open('image-predictions.tsv', mode='wb') as file:
    file.write(r.content)

In [3]:
# Set Up twitter authentication

api_key = 'A9t4uptCWdQ1QTSZkOxGqhHKN'
api_secret = 'Foi4bLXcZBw6Pi2qOOwXmn5V7rzXnfiJjxJVg5ITGi7qJjOxcD'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAH2OkQEAAAAAAIUOQz6OZ2Y1nr4uw0d6hhmMGfA%3DYwEd53CHEf1we0J8Ctdq6a1yfKHVmbtLHndrJpsgeAebffxG8D'


auth = tweepy.OAuth2BearerHandler(bearer_token)
api = tweepy.API(auth)

In [4]:
# We need the list of id's to extract the info from.
df_enhanced = pd.read_csv('twitter-archive-enhanced.csv')
df_pred = pd.read_csv('image-predictions.tsv', sep = '\t', engine = 'python')
tweet_ids = list(df_enhanced['tweet_id'])

# Define a function for extracting the info that we need
def extract_tweet_info(id):
    dict = {}
    info = api.get_status(id)._json
    dict['id'] = info['id']
    dict['retweet_count'] = info['retweet_count']
    dict['favorite_count'] = info['favorite_count']
    return dict

# Create the file, open it and write the information that we need 
with open('tweet_json.txt', mode = 'w') as file:
    for id in tweet_ids:
        try:
            tweet = extract_tweet_info(id)
            json.dump(tweet, file)
            file.write('\n')
        except:
            continue

# tweet.retweet_count
# tweet.favorite_count

In [7]:
# Load our Json data to a dataframe
df_json = pd.read_json('tweet_json.txt', lines= True)

## Assesing Data

In [9]:
df_enhanced.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [15]:
df_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In order to keep the notebook tidy and short, I'll add on the next code block all the code that I've used to explore the data. I'll leave it commented to avoid a really large notebook. Feel free to use it.

In [16]:

# df_enhanced[df_enhanced['in_reply_to_status_id'].notnull()]
# df_enhanced[df_enhanced['retweeted_status_id'].notnull()]
# df_enhanced.iloc[0].source
# df_enhanced.source.value_counts()
# df_enhanced.doggo.value_counts()
# df_enhanced.expanded_urls.isnull().sum()
# df_enhanced.duplicated().sum()
# len(df_enhanced.tweet_id.unique())

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2169,669353438988365824,6.678065e+17,4.196984e+09,2015-11-25 03:14:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tessa. She is also very pleased after ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669353438...,10,10,Tessa,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

### Quality Issues
1. We have a lot of Retweets in the database. We can see that we have 181 Rts.
2. We also have 78 Tweets that are actually responses to the original tweets.
3. We have extra text on the source column, not categorising it correctly.
4. Wrong data types on Timestamp columns.
5. We have 745 rows without name.
6. Wrong data type on id columns. (should be integer)
7. There are 59 expanded_urls values missing.
8. Wrong category on the dogs columns. Should be category once fixed.

### Tidiness Issues
1. There are 4 columns to identify the kind of dog.
2. Rating numerator and denominator can be just one column.
3. We should have just 2 tables (tweets and predictions).

## Cleaning Data

In [197]:
# First of all, make a copy of all the data.
enhanced_clean = df_enhanced.copy()
json_clean = df_json.copy()
pred_clean = df_pred.copy()

### Issue #1

#### Define

We need to remove all the retweeets that we have on the data, deleting the ones that have an id on the field retweeted_status_id

#### Code

In [198]:
# We take only the data for tweets that are not retweeted.
enhanced_clean = enhanced_clean[enhanced_clean['retweeted_status_id'].isnull()]

#### Test

In [199]:
# We confirm that we the size of the resulting df is 2365 (original) minus 181 Rts
enhanced_clean.shape[0]

2175

In [200]:
# We can also check that there are no retweets left
enhanced_clean.retweeted_status_id.notnull().sum()

0

### Issue #2

#### Define
We need to delete the tweets with responses to the original tweets. We can identify them by having non-null in_reply_to_status_id
#### Code

In [201]:
# Remove the tweets with a not null response id
enhanced_clean = enhanced_clean[enhanced_clean['in_reply_to_status_id'].isnull()]

#### Test

In [202]:
# We check the size of the new df. Should be 2175 - 78
enhanced_clean.shape[0]

2097

In [203]:
# We can also check that there are no response id left
enhanced_clean.retweeted_status_id.notnull().sum()

0

### Issue #3
#### Define
We need to remove all the extra text on the source column so that we can properly categorise the origin.

#### Code

In [204]:
# First we check the options that we have
enhanced_clean.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1964
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       31
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [205]:
# We can see that there are 2 options, twitter or vine
# We'll extract the column and loop through it to just say twitter or vine with a list comprehension
source = enhanced_clean.source

source_clean = ['Twitter' if 'twitter' in str(value) else 'Vine' for index,value in source.items()]

# Substitute the original column for the new one
enhanced_clean.source = source_clean

#### Test

In [206]:
enhanced_clean.source.value_counts()

Twitter    2006
Vine         91
Name: source, dtype: int64

### Issue #4
#### Define
Convert time-stamp columns to correct data type.

#### Code

In [207]:
# First of all, I'm going to check if I can eliminate the trailing zeros
check = enhanced_clean.timestamp.str[-5:]
check.value_counts()

+0000    2097
Name: timestamp, dtype: int64

In [208]:
# All of the 0s seem to be 0, so we'll eliminate them
new_datetime = enhanced_clean.timestamp.str[:-5]
# Substitute the new column
enhanced_clean.timestamp = new_datetime

In [209]:
# Now, let's cast the data as datetime
enhanced_clean.timestamp = pd.to_datetime(enhanced_clean.timestamp, yearfirst= True)

#### Test

In [210]:
enhanced_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2097 non-null   int64
 1   in_reply_to_status_id       0 non-null      float64
 2   in_reply_to_user_id         0 non-null      float64
 3   timestamp                   2097 non-null   datetime64[ns]
 4   source                      2097 non-null   object
 5   text                        2097 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2094 non-null   object
 10  rating_numerator            2097 non-null   int64
 11  rating_denominator          2097 non-null   int64
 12  name                        2097 non-null   object
 13  doggo                       2097 non-null   object
 14  floofer                     2097 non-null   object
 15  pupper                      2097 non-null   object
 16  puppo                       2097 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 294.9+ KB

### Issue #5
#### Define
Investigate if the data is missing due to a quality problem or due to lack of data. We will then impute information from the text or leave the data as is.

#### Code

In [211]:
# Let's check first if there has been change in the number of rows affected after the changes.
enhanced_clean[enhanced_clean.name == 'None']['text']

5       Here we have a majestic great white breaching ...
7       When you watch your owner call another dog a g...
12      Here's a puppo that seems to be on the fence a...
24      You may not have known you needed to see this ...
25      This... is a Jubilant Antarctic House Bear. We...
                              ...
2342    Here we have a well-established sunblockerspan...
2343    Let's hope this flight isn't Malaysian (lol). ...
2344    Here we have a northern speckled Rhododendron....
2351    Here we have a 1949 1st generation vulpix. Enj...
2355    Here we have a Japanese Irish Setter. Lost eye...
Name: text, Length: 603, dtype: object

In [212]:
enhanced_clean.iloc[7]['text']

"When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq"

#### Test

We can see that the data is actually correct and the tweets do not offer information about the name of the dog. We'll leave then the data as is

### Issue #6
#### Define
Now that we have eliminated the response and retweet columns, there is no longer need for those columns, so we'll drop them from the dataframe

#### Code

In [213]:
enhanced_clean.drop(['in_reply_to_status_id', 'in_reply_to_user_id','retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp'], axis = 1, inplace= True)

#### Test

In [214]:
enhanced_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'doggo', 'floofer',
       'pupper', 'puppo'],
      dtype='object')

### Issue #7
#### Define
There are missing values in the expanded_url field. We will use string concatenation to fill the gaps.

#### Code

In [215]:
# Establish first part of string
handle = 'https://twitter.com/dog_rates/status/'
# Extract our tweet ids
ids = enhanced_clean.tweet_id
# List comprehension to create the full list of urls
expanded_urls = [handle + str(value) for index,value in ids.items()]
# Substitute the full list of urls in expanded_urls column
enhanced_clean.expanded_urls = expanded_urls

#### Test

In [216]:
enhanced_clean.expanded_urls.isnull().sum()

0

### Data Quality Issue #8 + Data tidiness Issue #1
#### Define
We will be creating just one column for dogs categories instead of four. Afterwards, we'll configure the field as category

#### Code

In [218]:
# We make a copy of our data
enhanced_dog_type = enhanced_clean.copy()
# Drop all the columns that are not related to the kind of dog
enhanced_dog_type.drop(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name'], axis = 1, inplace = True)

# Set None fields to NaN so that the backfill is performed correctly.
enhanced_dog_type.loc[enhanced_dog_type['doggo'] == 'None'] = np.nan
enhanced_dog_type.loc[enhanced_dog_type['pupper'] == 'None'] = np.nan
enhanced_dog_type.loc[enhanced_dog_type['floofer'] == 'None'] = np.nan
enhanced_dog_type.loc[enhanced_dog_type['puppo'] == 'None'] = np.nan

# Backfill a column with the data of the four columns
enhanced_dog_type['coalesce'] = enhanced_dog_type.bfill(axis = 1).iloc[:,0]
# Substitute the data on a new column a drop the unnecesary columns
enhanced_clean['dog_type'] = enhanced_dog_type['coalesce']
enhanced_clean.drop(['doggo', 'floofer',
       'pupper', 'puppo'], axis = 1, inplace= True)

In [227]:
enhanced_dog_type.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   doggo     0 non-null      object
 1   floofer   0 non-null      object
 2   pupper    0 non-null      object
 3   puppo     0 non-null      object
 4   coalesce  0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 98.3+ KB

#### Test

In [123]:
enhanced_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'dog_type'],
      dtype='object')

### Data tidiness Issue #2
#### Define
As we do not need this field for calculations since it does not have real values, we'll use string concatenation to leave the field as it appears on twitter.

#### Code

In [130]:
# First we need to change datatype to str
enhanced_clean = enhanced_clean.astype({'rating_numerator': str, 'rating_denominator' : str})
enhanced_clean['score'] = enhanced_clean['rating_numerator'] + '/' + enhanced_clean['rating_denominator']

# Drop Columns
enhanced_clean.drop(['rating_numerator', 'rating_denominator'], inplace=True, axis=1)

### Test

In [132]:
enhanced_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,name,dog_type,score
0,892420643555336193,2017-08-01 16:23:56,Vine,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,None,13/10
1,892177421306343426,2017-08-01 00:17:27,Twitter,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,Tilly,None,13/10
2,891815181378084864,2017-07-31 00:18:03,Twitter,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,Archie,None,12/10
3,891689557279858688,2017-07-30 15:58:51,Twitter,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,Darla,None,13/10
4,891327558926688256,2017-07-29 16:00:24,Twitter,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,Franklin,None,12/10

### Data tidiness Issue #3
#### Define
Merge the table enhanced_clean con json_clean to have all the data about the tweets in just one place.

#### Code

In [164]:
# we rename the column on the json dataframe to tweet_id
json_clean.rename({'id': 'tweet_id'}, inplace= True, axis = 1)
#Join both dataframes
final_enhanced = pd.merge(enhanced_clean, json_clean, left_on = 'tweet_id', right_on = 'tweet_id', how = 'left')

#### Test

In [166]:
final_enhanced.head()

,tweet_id,timestamp,source,text,expanded_urls,name,dog_type,score,retweet_count,favorite_count
0,892420643555336193,2017-08-01 16:23:56,Vine,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,None,13/10,6894.0,32963.0
1,892177421306343426,2017-08-01 00:17:27,Twitter,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,Tilly,None,13/10,5193.0,28507.0
2,891815181378084864,2017-07-31 00:18:03,Twitter,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,Archie,None,12/10,3427.0,21435.0
3,891689557279858688,2017-07-30 15:58:51,Twitter,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,Darla,None,13/10,7103.0,35974.0
4,891327558926688256,2017-07-29 16:00:24,Twitter,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,Franklin,None,12/10,7621.0,34386.0

## Storing Data

We will be storing our dataframe in a CSV file

In [152]:
# Stored in CSV 
final_enhanced.to_csv('twitter_archive_master.csv')

# Stored in DDBB
from sqlalchemy import create_engine
engine = create_engine('sqlite:///twitter_archive_master.db')

final_enhanced.to_sql('master', engine, index=False)

2097

In [168]:
final_enhanced.dog_type.value_counts()

None     2014
doggo      83
Name: dog_type, dtype: int64

## Analyzing Data

### Insights

1.

In [167]:
final_enhanced.groupby('dog_type').mean()

              tweet_id  retweet_count  favorite_count
dog_type
None      7.341588e+17    4126.217666    15916.028391
doggo     7.948089e+17    4510.052632    15276.964912